.LeftSection{
    .container{
        flex: 2;
        padding: 40px;
        position: sticky;
        top: 70px;
        border-right: 1px solid lightgray;

        .home, .friends, .groups, .climbs {
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            display: flex;
            align-items: center;
            gap: 10px;
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
                //border-bottom: .5px solid purple;
            }
            span{

                border-bottom: .5px solid purple;
            }

            
        }
    }
}