.mainContainer {
    .usernameInput,
    .passwordInput,
    .emailInput,
    .nameInput {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .errorLabel {
            color: red;
            font-size: 12px; // Adjust font size as needed
            margin-top: 3px; // Add minimal space between input and error label
        }

        .inputBox {
            background-color: white;
            border: none;
            border-bottom: 1px solid lightgray;
            padding: 20px;
            width: 100%; // Take full width of parent container
            box-sizing: border-box; // Include padding in width calculation
        }

        .inputBox.error {
            border: 1px solid red;
        }
    }

    .usernameInput {
        .inputBox {
            width: 250px; // Override width for specific input if needed
        }
    }

    .inputContainer {
        .loginButton {
            width: 50%;
            padding: 10px;
            border: none;
            background-color: aquamarine;
            font-weight: bold;
            cursor: pointer;
        }
    }
}
